<footer class="estiloNav col-12">
	<div class="container pt-4">

		<div class="row d-flex justify-content-center">
			<div class="col-lg-4 col-md-3 my-sm-0 mt-4">
				<h2 class="h4 pb-lg-3 text-light text-center">Conocenos en redes</h2>

				<ul id="centrar" class="list-inline footer-icons">
					<li class="list-inline-item m-1">
						<a class="text-light" target="_blank" href="https://www.facebook.com/Nuestrahuella">
							<img src="/img/Facebook.png" width="40" height="40" alt="Logo Facebook" <i </a>
					</li>
					<li class="list-inline-item m-1">
						<a class="text-light" target="_blank" href="http://www.instagram/NuestraHuella.com/">
							<img src="/img/Instagram.png" width="40" height="36" alt="Logo Instagram">
						</a>
					</li>
					<li class="list-inline-item m-1">
						<a class="text-light" target="_blank" href="https://www.twitter.com/Nuestrahuella">
							<img src="/img/Twitter.png" width="48" height="50" alt="Logo Twitter">
						</a>
					</li>
					<li class="list-inline-item m-1">
						<a class="text-light" target="_blank" href="http://www.Linkedin/NuestraHuella.com/">
							<img src="/img/Linkedin.png" width="40" height="40" alt="Logo Linkedin">
						</a>
					</li>
					<li class="list-inline-item m-1">
						<a class="text-light" target="_blank" href="https://api.whatsapp.com/send/?phone=5493411111111">
							<img src="/img/WhatsApp.png" width="48" height="50" alt="Logo WhatsApp">
						</a>
					</li>
				</ul>


			</div>
			<div class="col-lg-3 col-md-3 my-sm-0 mt-4">
				<h3 id="centrar" class="h4 pb-lg-3 text-light regular-400">Nosotros</h2>
					<ul id="centrar" class="list-unstyled text-light light-300">
						<li class="pb-2">

							<i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light"
								href="/">
								<i class="fas fa-home"></i> Inicio
							</a>
						</li>
						<li class="pb-2">
							<i class='bx-fw bx bxs-chevron-right bx-xs'></i>
							<a class="text-decoration-none text-light py-1" th:href="@{/pet/add-a-pet}"><i
									class="fas fa-plus">
								</i> Añade tus mascotas</a>
						</li>
						<li class="pb-2">
							<i class='bx-fw bx bxs-chevron-right bx-xs'></i>
							<a class="text-decoration-none text-light" href="../templates/PetsList.html"><i
									class="fas fa-search">
								</i>&nbsp Encuentra una mascota</a>
						</li>
						<li class="pb-2">
							<a class="text-decoration-none text-light py-1" target="_blank"
								href="/Documents/Protección y bienestar animal.pdf">
								<i class="fas fa-file-contract"></i> Requerimientos </a>
						</li>
					</ul>
			</div>
			<div class="col-lg-3 col-md-3 my-sm-0 mt-4">
				<h2 id="centrar" class="h4 pb-lg-3 text-light regular-400">Contactanos</h2>
				<ul id="centrar" class="list-unstyled text-light light-300">
					<li class="pb-2">
						<i class="fas fa-phone"></i>
						<i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light"
							href="tel:010-020-0340">341- 111- 1111</a>
					</li>
					<li class="pb-2">
						<i class="fas fa-envelope-open"></i>
						<i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1"
							href="mailto:info@nuestrahuella.com">info@nuestrahuella.com.ar</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	</div>
</footer>