<!DOCTYPE html>
<html lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="/fragments/head :: heads"></head>
 
<body>

    <header th:replace="/fragments/header :: header"></header>


    <main>
        <div class="titulo2 p-2 text-success">
            <h2 class="display-3 d-flex justify-content-center">REGISTRA A TU MASCOTA</h2>
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">No se pudo guardar el usuario. <span th:text="${error}"></span></div >
              <div th:if="${exito}" class="alert alert-success"   role="alert">Registro exitoso <span th:text="${exito}"></span></div >
        <div>
        <form class="row g-3 d-flex justify-space-around px-4"  th:action="@{/pet/add-a-pet/__${session.UserSession.id}__}"  enctype="multipart/form-data" method="POST">

            <div class="col-6">
                <input type="text" name="name"
                       class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                       placeholder="Ingresa aquí el NOMBRE de la mascota">
            </div>
            <br> <br>
            <div class="col-6">
                <input type="Integer" name="ageInMonths" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                       placeholder="Ingrese aquí la EDAD de la mascota (en meses)">
            </div>
            <div class="col-6">

                <select class="form-select border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Especie"
                        name="species">
                    <option th:selected>Especie</option>
                    <option th:each="species : ${T(com.tuhuella.main.enums.Species).values()}"
                            th:value="${species}"
                            th:text="${species}">
                    </option>
                </select>
            </div>
            <div class="col-6">
                <input type="text" name="breed" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                       placeholder="Ingrese aquí la raza de su mascota">
            </div>
            <div class="col-md-3 col-sm-6">
                <select class="form-select border border-success shadow p-2 mb-1 bg-body rounded" placeholder="tamaño"
                        name="size">
                    <option th:selected>tamaño</option>
                    <option th:each="size : ${T(com.tuhuella.main.enums.Size).values()}"
                            th:value="${size}"
                            th:text="${size}">
                    </option>
                </select>
            </div>
            <div class="col-md-3 col-sm-6">
                <select class="form-select border border-success shadow p-2 mb-1 bg-body rounded" placeholder="sexo"
                        name="sex">
                    <option th:selected>Sexo</option>
                    <option th:each="sex : ${T(com.tuhuella.main.enums.Sex).values()}"
                            th:value="${sex}"
                            th:text="${sex}">
                    </option>
                </select>
            </div>
            <div class="col-6">
                <input type="number" name="weight" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                       placeholder="Ingrese aquí el peso de su mascota en (kilogramos)">
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" checked="false" id="upToDateVaccineCheck" name="upToDateVaccine">
                <label class="form-check-label" for="upToDateVaccineCheck">
                    Vacunas al día
                </label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" checked="false" id="castratedCheck" name="castrated">
                <label class="form-check-label" for="castratedCheck">
                    Castrado
                </label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" checked="false" id="deWormedCheck" name="deWormed">
                <label class="form-check-label" for="deWormedCheck">
                    Desparasitado
                </label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" checked="false"  id="diseaseCheck" name="disease">
                <label class="form-check-label" for="diseaseCheck">
                    Posee alguna enfermedad
                </label>
            </div>


            <div class="input-group mb-3">
                <input class="form-control border border-success shadow p-2 mb-1 bg-body rounded" type="file"
                       name="file" placeholder="Adjunte la foto de la mascota">
            </div>

            <div class="botonDelete">
                <button type="submit" name="submit"
                        class="btn text-light btn-outline-blue btn-secondary col-md-3 col-sm-6">Enviar</button>
                <br>
            </div>
        </form>
        </div>
        <br>

        <aside>

        </aside>

    </main>

	<footer th:replace="/fragments/footer :: footer"></footer>
	<script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>


</body>

</html>