<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/head :: heads"></head>

<head th:replace="fragments/header :: header"></head>

<body>

<body id="error">
    <section id="centrar">
        <h2 id="h2">Tiene <a target="blank" href="https://es.wikipedia.org/wiki/HTTP_404"> 404 </a> razones para estar triste, <br> pero si seguís nuestra huella, volverá a ser feliz.</h2>
       <a target="blank" href="https://youtu.be/ZNacwE6Bm-E">
        <img id="Espaciado" src="/img/Error/gato.jpg" width="500px" height="380px">
        </a>
        <a href="/">
            <br>
        <img src="/img/Huella_nueva.png" width="160"
            height="160">
        </a>
    </section>
<div>
    <a>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    </a>
</div>

</body>
	<footer th:replace="fragments/footer :: footer"></footer>

	<script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>