<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/head :: heads"></head>


<body>
	<header th:replace="fragments/header :: header"></header>
	<main>
		<section>
			<div class="container d-flex justify-content-center">
				<p class="display-3 titulo2">Encuentra a tu mascota</p>
			</div>
			<div class="wrap">
				<div th:if="${pet1}" class="tarjeta-wrap" ><a th:if="${pet1}" th:href="@{pet/one/__${pet1.id}__}">			
					<div class="tarjeta">
						<div class="adelante card1">
							<img class="imag" th:src="${'/pet/photo?id=' + pet1.id}">
						</div>
						<div class="atras">
							<div>
								<p th:text="|Mi nombre es ${pet1.name} y tengo ${pet1.ageInMonths} meses. Soy ${pet1.sex} y ${pet1.breed}. 
								Mi peso es de ${pet1.weight} kilos y soy de tamaño ${pet1.size}.|"> </p>
							</div>
						</div>
					</div>
				</div></a>
				<div th:if="${pet2}" class="tarjeta-wrap" ><a th:if="${pet2}" th:href="@{pet/one/__${pet2.id}__}">
					<div class="tarjeta">
						<div class="adelante card1">
							<img class="imag" th:src="${'/pet/photo?id=' + pet2.id}">
						</div>
						<div class="atras">
							<div>
								<p th:text="|Mi nombre es ${pet2.name} y tengo ${pet2.ageInMonths} meses. Soy ${pet2.sex} y ${pet2.breed}. 
								Mi peso es de ${pet2.weight} kilos y soy de tamaño ${pet2.size}.|"> </p>
							</div>
						</div>
					</div>
				</div></a>
				<div th:if="${pet3}" class="tarjeta-wrap"> <a th:if="${pet3}" th:href="@{pet/one/__${pet3.id}__}">
					<div class="tarjeta">
						<div class="adelante card1">
							<img class="imag" th:src="${'/pet/photo?id=' + pet3.id}">
						</div>
						<div class="atras">
							<div>
								<p th:text="|Mi nombre es ${pet3.name} y tengo ${pet3.ageInMonths} meses. Soy ${pet3.sex} y ${pet3.breed}. 
								Mi peso es de ${pet3.weight} kilos y soy de tamaño ${pet3.size}.|"></p>
							</div>
						</div>
					</div>
				</div></a>
			</div>
		</section>

		<section class="NextPrevious">
			<a th:if="${session.UserSession != null}" text-light target_self th:href="@{/pet/showPets}" class="next">Ver
				más &raquo;</a>
			<a th:if="${session.UserSession == null}" text-light target_self th:href="@{/user/login}" class="next">Ver
				más &raquo;</a>
		</section>
		<br>
		<br>
		<br>
		<br>
		</div>

		<!-- <div class="container-fluid d-flex justify-content-around align-content-end flex-wrap">
        <div class="card-img" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-success rounded-5 m-2" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-primary rounded-5 m-2" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
      </div>
      </div>-->
		<!-- </section>
    <div class="container-fluid d-flex justify-content-around align-content-end flex-wrap">
      <div class="card-img border border-5 border-info rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border border-5 border-primary rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card-img border border-5 border-info rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>-->
		<!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>-->

		<!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div> -->
		<!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>-->

		<!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
        </div>-->
		<!--</div>-->
		</div>

		<aside>

		</aside>


	</main>

	<footer th:replace="fragments/footer :: footer"></footer>

	<script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>