<!DOCTYPE html>
<html lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: heads"></head>

<body>

	<header th:replace="fragments/header :: header"></header>

	<main>
		<section id="seccion"class="py-5">

			<div class="container-fluid h-custom py-xl-3">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-md-8 col-lg-5 py-lg-4 col-xl-6 py-xl-3 col-sm-12">
						<img src="/img/Logo-Huella.png" class="img-fluid col-12" alt="Sample image">
					</div>
					<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
						<h2>Ingresar</h2>
						<br>
						<form th:action="@{/logincheck}" method="POST">

							<!-- Email input -->
							<div class="form-outline mb-4">
								<input type="text" id="form3Example3" th:value="${username}" name="username" class="form-control form-control-lg"
									placeholder="Ingresa tu nombre de usuario" />
								
							</div>

							<!-- Password input -->
							<div class="form-outline mb-3">
								<input type="password" id="form3Example4" name="password"
									class="form-control form-control-lg" placeholder="Ingresa una contraseña" />
								
							</div>

							<div class="d-flex justify-content-between align-items-center">
								<!-- Checkbox -->
								<div class="form-check mb-0">
									<input class="form-check-input me-2" type="checkbox" name="formCheck" value=""
										id="form2Example3" />
									<label class="form-check-label" for="form2Example3">
										Recordarme
									</label>
								</div>
								<a href="#!" class="text-body">¿Olvidaste tu contraseña?</a>
							</div>

							<div class="text-center text-lg-start mt-4 pt-2">
								<button type="submit" class="btn btn-primary btn-lg" style="background-color: green; padding-left:
                  2.5rem; padding-right: 2.5rem;">Iniciar sesión</button>
								<p class="small fw-bold mt-2 pt-1 mb-0">¿No tenés una cuenta? <a
										href="/user/sign-up" class="link-danger">Registrarme</a></p>
							</div>
							<div th:if="${error}" class="alert alert-danger" role="alert">No se pudo ingresar.
								<span th:text="${error}"></span></div>
							<div th:if="${exito}" class="alert alert-success" role="alert">Ingreso exitoso <span
									th:text="${exito}"></span></div>

						</form>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="fragments/footer :: footer"></footer>

	<script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>