<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/head :: heads"></head>


<body>
<header th:replace="fragments/header :: header"></header>
<main>


        <form  th:action="@{/pet/one/__${pet.id}__}" method="post">
            <div class="card align-content-center" style="width: 18rem;">
                <img class="card-img-top imag" th:src="${'/pet/photo?id=' + pet.id}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pet.name}"></h5>
                    <p class="card-text" th:text="|Tengo ${pet.ageInMonths} meses. Soy ${pet.sex} y ${pet.breed}.
                       Mi peso es de ${pet.weight} kilos y soy de tamaño ${pet.size}.|"></p>
                    <br>

                    <p class="card-text" th:text="|Mi dueño actual es ${user.name} y su telefono es ${user.phoneNumber}. Somos de ${user.zone.city} , en la provincia de ${user.zone.province}, ${user.zone.country}
								Si no contesta tambien podes llamar al numero ${user.alternativeNumber}| "></p>
                    <a href="tel:341165416" class="btn btn-primary">Llamar</a>
                </div>
            </div>
        </form>
</main>

 	<footer th:replace="fragments/footer :: footer"></footer>
  	<script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
