<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: heads"></head>

<body>

	<header th:replace="/fragments/header :: header"></header>

	<main>
		<div class="titulo2 p-2 text-success">
			<h2 class="display-3 d-flex justify-content-center">ENCONTRÁ OTRAS ESPECIES</h2>
		</div>

		<section>
			<div class="wrap">
				<div class="tarjeta-wrap" th:each="pet : ${speciesList}"> <a th:if="${pet}" th:href="@{pet/one/__${pet.id}__}">
					<div class="tarjeta">
						<div class="adelante card1">
							<img class="imag" th:src="${'/pet/photo?id=' + pet.id}">
						</div>
						<div class="atras">
							<div>
								<p th:text="|Mi nombre es ${pet.name} y tengo ${pet.ageInMonths} meses. Soy ${pet.sex} y ${pet.breed}. 
								Mi peso es de ${pet.weight} kilos y soy de tamaño ${pet.size}.|">
								<!--i nombre es
									/*@thymesVar id="pet" type=""*/
									<span th:text="${pet.name}"></span> y tengo <span
										th:utext="${#numbers.formatInteger(pet.ageInMonths,2)}">.</span>
									Soy <span th:text="${pet.sex}"></span> y <span th:text="${pet.breed}"></span>. Mi peso es de <span
										th:text="${pet.weight}"></span> kilos y soy de
									tamaño <span th:text="${pet.size}"></span>.-->
								</p >
							</div>
						</div>
					</div></a>
				</div>
		</section>

		<section class="NextPrevious">
			<!--<a href="#" class="previous">&laquo; Previous</a>-->
			<a href="#" class="next">Next &raquo;</a>
		</section>
		<br>
		<br>
		<br>
		<br>
	</main>
	<footer th:replace="/fragments/footer :: footer"></footer>

	<script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>