<!DOCTYPE html>
<html lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: heads"></head>

<body>

  <header th:replace="fragments/header :: header"></header>

  <main>
    <div>
      <div>
        <h2 class="display-3 titulo2 text-center">REGISTRATE GRATIS</h2>
      </div>
      <div th:if="${error}" class="alert alert-danger" role="alert">No se pudo guardar el usuario. <span th:text="${error}"></span></div >
      <div th:if="${exito}" class="alert alert-success"   role="alert">Registro exitoso <span th:text="${exito}"></span></div >
      <form class="row g-3 d-flex justify-content-center px-4" th:action="@{/user/sign-up}" enctype="multipart/form-data" method="POST">
        <div class="col-md-6 col-sm-6">
          <input type="text" name="name" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="Nombre">
        </div>
        <div class="col-md-6 col-sm-6">
          <input type="text" name="surname" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="Apellido">
        </div>
        <div class="col-md-6 col-sm-6">
          <input type="email" name="email" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="E-mail">
        </div>
        <div class="col-md-6 col-sm-6">
          <input type="text" name="userName" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="Nombre de Usuario">
        </div>
        <div class="col-md-6 col-sm-6">
          <input type="password" name="password"
            class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Contraseña">
        </div>
        <div class="col-md-6 col-sm-6">
          <input type="password" name="confirmedPassword" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="Repetir Contraseña">
        </div>
        <div class="col-12">
          <input type="date" name="birthDate" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="Edad">
        </div>
        <div class="col-md-3 col-sm-6">
          <input type="text" name="neighborhood"
            class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Barrio">
        </div>
        <div class="col-md-3 col-sm-6">
          <input type="text" name="city" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="Ciudad">
        </div>
        <div class="col-md-3 col-sm-6">
        <select class="form-select border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Provincia"
        	name="province">
       	<option th:selected>Provincia</option>  	
   		<option th:each="province : ${T(com.tuhuella.main.enums.Province).values()}"
            th:value="${province}"
            th:text="${province}">
    	</option>	
		</select>
        </div>
        <div class="col-md-3 col-sm-6">
          <input type="text" name="country" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="País">
        </div>
        <div class="col-md-6 col-sm-6">
          <input type="number" name="phoneNumber"
            class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Número de teléfono">
        </div>
        <div class="col-md-6 col-sm-6">
          <input type="number" name="alternativeNumber"
            class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
            placeholder="Número de teléfono alternativo">
        </div>
        <div class="col-12">
          <input type="file" name="file"
            class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Foto de perfil">
        </div>
        <div id="margen">
        <button type="submit" name="SignUp"
          class="btn text-light btn-outline-success btn-secondary col-md-4 col-sm-3">Registrate</button>
      </div>
      </form>
    </div>
    <aside>

    </aside>

  </main>

  <footer th:replace="fragments/footer :: footer"></footer>

  <script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>